[worldserver]

###################################################################################################
#	LEVEL UP CHAOS REWARDS
###################################################################################################

# Enable the module? (1: true | 0: false)

levelup.Enable = 1